<project>

	<target name="dunamis_properties_system">
		
		<!-- System Level Properties -->
		<property name="dunamis.src.dev" value="${dunamis.local.LOCATION_ROOTDIR}${dunamis.project.PATH}" />
		<property name="dunamis.dst.build" value="${dunamis.local.LOCATION_BUILDDIR}v${dunamis.project.VERSION}" />
		<property name="dunamis.dst.package" value="${dunamis.local.LOCATION_PACKAGES}v${dunamis.project.VERSION}" />
		<property name="dunamis.src.build" value="${dunamis.dst.build}" />
		
		<tstamp>
			<format property="dunamis.TODAY" pattern="yyyy MMMM d" />
			<format property="dunamis.RELDATE" pattern="yyyy-MM-dd" />
		</tstamp>
		
		<!-- Copy Level Properties -->
		<property name="dunamis.local.whmcs" value="${dunamis.local.LOCATION_LOCALHOME}whmcs/" />
		<property name="dunamis.local.whmcs25" value="${dunamis.local.LOCATION_LOCALHOME25}whmcs/" />
		
		<property name="dunamis.local.joomla" value="${dunamis.local.LOCATION_LOCALHOME25}joomla2/" />
		<!-- Packaging Level Properties -->
		
	</target>
	
</project>